body
{
    background: rgb(231, 231, 231);
}

.topnav
{
    margin-left: 350px;
}

.topnav ul li
{
  list-style-type: none;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(107, 107, 107);
}

.topnav ul li i
{
    margin-right: 7px;
    color: #4CAF50;
}

#phone
{
    margin-left:30px;
}

#email
{
    margin-left:30px;
}

#user
{
    margin-left:350px;
}

#contact
{
    margin-left: 30px;
}

.body-user
{
    margin-bottom: -20px;
}

.user-history
{
    margin-bottom: -20px;
}

.company-details
{
    margin-left:390px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 250px;
    color: rgb(82, 80, 80);
}


.company-details::after
{
    content: ' ';
    display: block;
    margin-top: 10px;
    height: 0px;
    border-bottom:solid 2px #4CAF50;
    width: 28%;
}

#icon
{
    margin-right: 30px;
    color:#4CAF50;
}

.title
{
    margin-left:390px;
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 250px;
    color:  rgb(82, 80, 80);
}

.body
{
    margin-left:435px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 350px;
    color:  rgb(82, 80, 80);
}

.body span
{
    color:#4CAF50;
}

#lastIcon
{
    margin-top:25px;
}

.write-comment
{
    margin-left:1000px;
    margin-top:-380px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 250px;
    color: rgb(82, 80, 80);
}


.write-comment::after
{
    content: ' ';
    display: block;
    margin-top: 10px;
    height: 0px;
    border-bottom:solid 2px #4CAF50;
    width: 28%;
}

#comment
{
    margin-left:1000px;
    margin-top:25px;
}

.input-field
{
    margin-inline-start: 10px;
    width: 500px;
    height: 20px;
    padding: 10px 0;
    margin: 10px 0;
    border: 1px solid #4CAF50;
    outline: none;
    background: transparent;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding-left: 10px;
}

#inputComment
{
    width: 500px;
    height: 150px;
}

.submit-btn
{
    width: 100px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-top:10px;
    background: #4CAF50;
    border: 0;
    color:#fff;
    outline: none;
    border-radius: 5px;
}