body{
    text-align: center;
}

.body-user
{
    margin-bottom: -20px;
}

.MainContent{
    width: 75%;
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

.MainContent li{
    width: 30%;
    padding: 100px;
    text-align: left;
    float: left;
}

.user-history
{
    margin-bottom: -20px;
}

.user-information
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 250px;
    color: rgb(82, 80, 80);
}


.user-information::after
{
    content: ' ';
    display: block;
    margin-top: 10px;
    height: 0px;
    border-bottom:solid 2px #4CAF50;
    width: 28%;
}

.user-name
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 250px;
    color:  rgb(82, 80, 80);
}

.user-n
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 250px;
    color:  rgb(82, 80, 80);
}



.user-email
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 250px;
    color:  rgb(82, 80, 80);
}

.user-e
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 250px;
    color:  rgb(82, 80, 80);
}

#icon
{
    margin-right: 5px;
    color:#4CAF50;
}

.user-history
{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 190px;
    color: rgb(82, 80, 80);
}


.user-history::after
{
    content: ' ';
    display: block;
    margin-top: 10px;
    height: 0px;
    border-bottom:solid 2px #4CAF50;
    width: 28%;
}

.rental
{
    margin-top:45px;
}

.user-rental1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 250px;
    color:  rgb(82, 80, 80);
}

.user-R1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 250px;
    color:  rgb(82, 80, 80);
}

