body
{
    text-align: center;
}

.MainContent
{
    width: 75%;
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

.MainContent li
{
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(82, 80, 80);
    width: 250px;
}

.Content
{
    width: 30%;
    padding: 100px;
    text-align: left;
    float: left;
}

.Content ul
{
    padding-bottom: 15%;
}

.Content-Header
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 250px;
    color: rgb(82, 80, 80);
    margin-left: 37px;
}

.Content-Header::after
{
    content: ' ';
    display: block;
    margin-top: 10px;
    width: 28%;
    border-bottom:solid 2px #4CAF50;
}

.user-information
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 250px;
    color: rgb(82, 80, 80);
}

.inner-header
{
    margin-top:25px;
    font-size: 18px;
    width: 250px;
    color:  rgb(82, 80, 80);
}

ul
{
    list-style-type: none;
}

.user-body
{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
}

.history-body
{
    margin-top: -20px;
    margin-left:100%;
    font-size: 15px;
}

#icon
{
    margin-right: 5px;
    color:#4CAF50;
}
